<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
      lineNumbers: true,
      theme: "monokai",
      mode: "javascript",
      indentWithTabs: true,
      smartIndent: true,
      matchBrackets : true,
      autoCloseBrackets: true,
      extraKeys: {
        "F11": function(cm) {
          cm.setOption("fullScreen", !cm.getOption("fullScreen"));
        },
        "Esc": function(cm) {
          if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
        }
      }
    });
</script>

<form id="form_add" action="/regex/add" method="post">
<table>
	<tr>
		<td>title</td><td><input name="title" /></td>
	</tr>
	<tr>
		<td>regex</td><td><input name="regex" /></td>
	</tr>
	<tr>
		<td>code</td>
		<td> 
			<textarea id="code" name="code"></textarea>
		</td>
	</tr>
	<tr>
		<td><input type="button" value="保存" onclick="subform('form_add')"/>
	</tr>
</table>
</form>