<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
      lineNumbers: true,
      theme: "monokai",
      mode: "javascript",
      autoCloseBrackets: true,
      indentWithTabs: true,
      smartIndent: true,
      matchBrackets : true,
      autoCloseBrackets: true,
      extraKeys: {
        "F11": function(cm) {
          cm.setOption("fullScreen", !cm.getOption("fullScreen"));
        },
        "Esc": function(cm) {
          if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
        }
      }
    });
</script>

<form id="form_update" action="/regex/update" method="post">
<table>
<input type="hidden" value="{{id}}" name="id" />
	<tr>
		<td>title</td><td> <input type="text" name="title" value="{{title}}" /> </td>
	</tr>
	<tr>
		<td>regex</td><td> <input type="text" name="regex" value="{{regex}}" /> </td>
	</tr>
	<tr>
		<td>code</td>
		<td> 
			<textarea id="code" name="code">{{code}}</textarea>
		</td>
	</tr>
	<tr>
		<td><input type='button' value="保存" onclick="subform('form_update')" /></ins></td>
	</tr>
</table>
</form>