<h2>regex</h2>

<ul>
	<table>
		<th>
			<td>title</td><td>regex</td>
		</th>
		{{#list regex}}
		<tr>
			<td><a href="regex/detail/{{{id}}}">{{{title}}}</a></td><td>{{{regex}}}</td>
		</tr>
		{{/list}}
	</table>

	{{> pager}}
</ul>