<h2>regex</h2>
<h5><a href="#" onclick="to('/regex/add')">add</a> </h5>
<ul>
	<table>
		<th>
			<td>title</td><td>regex</td>
		</th>
		{{#list regex}}
		<tr>
			<td><a href="#" onclick="to('/regex/detail/{{{id}}}')">{{{title}}}</a></td><td>{{{regex}}}</td>
			<td><a href="#" onclick="to('/regex/{{id}}', 'DELETE')">删除</a></td>
		</tr>
		{{/list}}
	</table>

	{{> pager}}
</ul>