<h2>logs</h2>

<h5>search</h5>
<form id="searchform" action="/logs" method="get">
	关键字<input name="message" type="text" /> 时间<input type="text" name="begtime" /> - <input type="text" name="endtime" />
	<input type="button" value="查询" onclick="subform('searchform')" />
</form>

<ul>
	<table>
		<th>
			<td>level</td><td>time</td><td>message</td>
		</th>
		{{#list logs}}
		<tr>
			<td>{{{level}}}</td><td>{{{time}}}</td><td>{{{message}}}</td>
		</tr>
		{{/list}}
	</table>
	
	{{> pager}}
</ul>