<h2>日志</h2>

<script>
$('.datepicker').datepicker()
</script>

<form id="searchform" action="/logs" method="get" role="form" onsubmit="return false">
	<div class="input-group form-inline">
		<label for="guanjianzi">关键字</label>
		<input name="message" class="form-control" id="guanjianzi" type="text" /> 
	</div>

	<div class="form-group">
		<label for="guanjianzi">时间</label>
		<input type="text" name="begtime" data-provide="datepicker"/> - <input type="text" name="endtime" data-provide="datepicker"/>
	</div>
	<button class="btn btn-default" onclick="subform('searchform')">查询</button>
</form>

<div class="panel panel-default">
	<table class="table">
		<tr>
			<td>level</td><td>time</td><td>message</td>
		</tr>
		{{#list logs}}
		<tr>
			<td>{{{level}}}</td><td>{{{time}}}</td><td>{{{message}}}</td>
		</tr>
		{{/list}}
	</table>
	
	{{> pager}}
</div>