
<!-- Button trigger modal -->
<button class="btn btn-default btn-lg" data-toggle="modal" data-target="#List_Modal">
  add List
</button>

<div class="panel panel-default">
  <table class="table">
  	<tr>
  		<td>name</td><td>views</td>
  		{{#list list}}
  			<tr>
    			<td> <a href="#" onclick="to('/list/detail/{{{id}}}')"> {{{name}}} </td>
    			<td>
    				{{#list views}}
    					<ul>
    						<li>{{{title}}} </li>
    					</ul>
    				{{/list}}
    			</td>
          <td><a href='#' onclick='to("/list/{{{id}}}", "DELETE")'>delete</a></td>
  			</tr>
  		{{/list}}
  	</tr>
  </table>
</div>
<!-- Modal -->
<div class="modal" id="List_Modal" tabindex="-1" data-replace="true">
  <!-- <div class="modal-dialog"> -->
    <!-- <div class="modal-content"> -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;
        </span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Add List</h4>
      </div>
      <div class="modal-body">
       <!--form begin-->
       <form id="list_form" class="form" action="/list/addlist" method="post" >
       		title: <input id="title_input" type="text" name="name" />
       </form>
       <!--form end -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" 
        onclick="$('#List_Modal').modal('hide'); subform('list_form'); ">Save</button>
      </div>
    <!-- </div> -->
  <!-- </div> -->
</div>

