<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="/static/scripts/main.js"></script>
    <script type="text/javascript" src="/static/plugin/nprogress/nprogress.js"></script>
    <script type="text/javascript" src="/static/plugin/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/plugin/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/plugin/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="/static/plugin/codemirror/addon/display/fullscreen.js"></script>
    <script type="text/javascript" src="/static/plugin/codemirror/mode/javascript/javascript.js"></script>
    <script type="text/javascript" src="/static/plugin/bootstrap.growl/bootstrap-growl.min.js"></script>
    <script type="text/javascript" src="/static/plugin/bootstrap-paginator/build/bootstrap-paginator.min.js"></script>
    <script type="text/javascript" src="/static/plugin/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <link rel='stylesheet' href='/static/plugin/nprogress/nprogress.css'>
    <link rel="stylesheet" href="/static/plugin/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/plugin/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/plugin/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/static/plugin/codemirror/addon/display/fullscreen.css">
    <link rel="stylesheet" href="/static/plugin/codemirror/theme/monokai.css">
    <link rel="stylesheet" href="/static/plugin/bootstrap-paginator/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/static/plugin/bootstrap-paginator/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/plugin/bootstrap-datepicker/css/datepicker3.css">
    

    <script>
	function to(url, method){
		method = method ? method : 'GET';
		NProgress.start();
		$.ajax({
			url:url, 
			type: method,
			success: function(data){NProgress.done();
				$("#body").html("");
				$("#body").html(data);
				
			},
			error: function (error) {
				console.log(error);
				$.growl({
					title: '\tNO SUCH PAGE FOUND',
					icon: "glyphicon glyphicon-remove",
				}, {
					type: 'danger',
					delay: 3000
				});
				NProgress.done();
			}
		});
	}
	
	// argument: 
	// option1: subform(formId)
	// option2: subform(formId, renderId)
	// option3: subform(formId, action, method)
	// option4: subform(formId, renderId, action, method)
	function subform () {
		var formId, renderId, action, method;
		renderId = "body";	// default value
		if(arguments.length == 1) {
			formId = arguments[0];
		}else if(arguments.length == 2) {
			formId = arguments[0];
			renderId = arguments[1];
		}else if(arguments.length == 3) {
			formId = arguments[0];
			action = arguments[1];
			method = arguments[2];
		}else if(arguments.length == 4) {
			formId = arguments[0];
			renderId = arguments[1];
			action = arguments[3];
			method = arguments[4];
		}else {
			$.growl({
					title: '\tSYSTEM ERROR',
					icon: "glyphicon glyphicon-remove",
				}, {
					type: 'info',
					delay: 3000
			});
			return;	//error
		}
		NProgress.start();
		if(document.getElementById("code") != null){
			document.getElementById('code').value = editor.getValue();
		}
		$.ajax({
			type: method || $("#"+formId).attr("method"),
			url: action || $("#"+formId).attr("action"),
			data: $("#"+formId).find('input, select, textarea, button').serialize(),
			success: function (data) {
				$("#" + renderId).html("");
				$("#" + renderId).html(data);
				$.growl({
					title: '\tEXECUTE SUCCESS',
					icon: "glyphicon glyphicon-ok",
				}, {
					type: 'info',
					delay: 3000
				});
				NProgress.done();
			},
			error: function (error, a) {
				console.log(error);
				$.growl({
					title: error.responseText || '\tEXECUTE ERROR',
					icon: "glyphicon glyphicon-remove",					
				}, {
					type: 'danger',
					delay: 3000
				});
				NProgress.done();
			}
		});
	}
	</script>
    <title>Example App</title>
</head>
<body>

<a href="#" onclick="$('#UserModal').modal('show')"></a>



<nav class="navbar navbar-default" role="navigation">
	 <div class="container-fluid">
	 	<!-- Brand and toggle get grouped for better mobile display -->
	 	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
     	</button>
      <a class="navbar-brand" href="#">Wechat-Ship</a>
	 </div>

	 <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    	<ul class="nav navbar-nav">
	        <li><a href="#" onclick="to('/errors')">error</a></li>
	        <li><a href="#" onclick="to('/logs');">logs</a></li>
	       	<li><a href="#" onclick="to('/server')">server</a></li>
	       	<li><a href="#" onclick="to('/chatUser')">chatUser</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">回复管理 <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
					<li><a href="#" onclick="to('/regex');">regex</a></li>
					<li><a href="#" onclick="to('/list');">list</a></li>
				</ul>
			</li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	    	<li><a href="#">Welcome: </a></li>
	    	<li class="dropdown">
	    		<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.username}} <span class="caret"></span></a>
	    		<ul class="dropdown-menu" role="menu">
	    			<li><a href="/logout">logout</a></li>
	    		</ul>
	    	</li>
	    </ul>
    </div>	
</nav>

<div id='body'> </div>

<!-- Modal -->
<div class="modal" id="UserModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;
        </span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Change password</h4>
      </div>
      <div class="modal-body">
       <!--form begin-->
       <form id="user_form" action="/user/{{user.id}}" method="post" >
       		input password: <input type="text" name="password" /><br>
       		once more password: <input type="text" name="password2" />
       </form>
       <!--form end -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" 
        onclick="$('#UserModal').modal('hide'); subform('user_form'); ">Save</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>