<html>
<body>
<form action="login" method="post">
	用户名：<input type="text" name="username"/><br/>
	密码:	<input type="text" name="password"/><br />
	<input type="submit" />
	{{error}}
</form>
</body>
</html>