<p color="red">{{err}}</p>

<table>
	<tr>
		<td>app</td><td>port</td><td>status</td>
		{{#if result}}
		{{#list result}}
		<tr>
		<td>{{file}}</td>
		<td>{{options}}</td>
		<td>{{#if running}}Running{{else}}Not running{{/if}}</td>
		</tr>
		{{/list}}
		{{/if}}
	</tr>	
</table>