<h2>chat user</h2>
<div class="panel panel-default">
	<table  class="table">
		<tr>
			<td>openid</td><td>regTime</td><td>删除</td>
		</tr>
		{{#list chatUser}}
		<tr>
			<td><a href="#" onclick="to('/chatUser/{{{id}}}')">{{{openid}}}</a></td>
			<td>{{{regTime}}}</td>
			<td><a href="#" onclick="to('/chatUser/{{{id}}}', 'DELETE')">删除</a></td>
		</tr>
		{{/list}}
	</table>

</div>